.hidden {
    display: none !important;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(5, 4, 1);
    background-color: #fff;
}

h1 {
    margin: 0;
    padding: 0.5vw;
    background-color: #0D3B66;
    color: #FFFF;
    letter-spacing: 2px;
    text-align: left;
}

.content {
    display: flex;
    width: 90vw;
    margin: 2vh auto;
}

.class-list {
    display: flex;
    width: 15vw;
    margin-top: 2vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.class-list .entry {
    display: block;
    width: 12vw;
    height: 12vw;
    margin: 1vw;
    background-color: #f4d35e;
    border-radius: 0.5vw;
    color: #333;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px #faf0ca;
    -moz-box-shadow: 10px 10px 5px 0px #faf0ca;
    box-shadow: 10px 10px 5px 0px #faf0ca;
}

.class-list .entry:hover {
    opacity: 0.8;
    cursor: pointer;
}


.class-list .entry .title {
    display: block;
    text-align: center;
    word-wrap: normal;
    font-size: 1.25em;
    padding: 0.25vw;
    text-transform: uppercase;
    background-color: #0D3B66;
    color: #fff;
}

.class-list .entry.selected .title {
    background-color: #f95738;
}

.class-details {
    display: flex;
    width: 78vw;
    margin: 0;
}

.class-details .comments {
    width: 40vw;
}

.class-details .form {
    width: 30vw;
}

.class-details .title {
    display: block;
    width: 20vw;
    margin: 1vh auto;
    text-align: center;
    font-size: 1.5em;
    color: #0d3b66;
}

.class-details ul {
    list-style-type: none;
    padding-left: 0;
}

.class-details ul li {
    margin: 1vw;
    padding: 0.5vw;
    background-color: #faf0ca;
    border-radius: 0.5vw;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px #fafafa;
    -moz-box-shadow: 10px 10px 5px 0px #fafafa;
    box-shadow: 10px 10px 5px 0px #fafafa;
}

.class-details ul li .id {
    display: block;
    float: right;
    margin-left: 1vw;
    font-size: 1em;
    color: #333;
}

.class-details ul li .text {
    display: block;
    min-height: 5vh;
    padding: 0.25vw;
}

.class-details ul li .date {
    display: block;
    margin: -0.5vw;
    padding: 0.5vw;
    color: rgb(255, 250, 255);
    background-color: #0d3b66;
    font-size: 0.5em;
    text-align: right;
}

.class-details ul li .date:before {
    content: "Erstellt: ";
}

.class-details textarea {
    display: block;
    width: 30vw;
    margin: 0 auto;
    border: 1px solid #cccccc;
    padding: 0.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.class-details input[type="submit"] {
    display: block;
    float: right;
    margin: 0.5vw;
    padding: 0.5vw;
    background-color: #F95738;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}